pkgbase = vcsh
	pkgdesc = Version Control System for $HOME that manages multiple Git repositories
	pkgver = 2.0.0beta1
	pkgrel = 1
	url = https://github.com/RichiH/vcsh
	arch = any
	license = GPL2
	checkdepends = perl
	checkdepends = perl-shell-command
	checkdepends = perl-test-most
	makedepends = ruby-ronn
	depends = git
	source = https://github.com/RichiH/vcsh/releases/download/v2.0.0-beta.1/vcsh-2.0.0-beta.1.tar.xz
	sha256sums = dd766715b6d525509f7bc11d861771cacad29e9661f7b4d0ae5c8a825a35281a

pkgname = vcsh
